# Files
.*
*.iml
*.log
!.gitignore
!.gitkeep
!.npmrc
!.dockerignore
!.devcontainer
# Ignore generated stuff from jekyll serve
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# Directories
lib/
data/
node_modules/
!.github/