#drop-zone {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-start; /* Align items to the top */
  align-items: center; /* Center items horizontally */
  height: 200px; /* Set a height for the drop zone if needed */
  border: 2px dashed #ccc; /* Optional: add border for visual cue */
  padding: 20px; /* Optional: add padding for spacing */
  gap: 10px;
}

#drop-zone #labelForFileInput {
  margin-top: 20px; /* Adjust as needed */
}

#labelForFileInput {
  cursor: pointer; /* Show pointer to indicate clickable label */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:relative;
}

#file {
  display: none; /* Hide the default file input */
}

#spanForFileInput {
  display: inline-block;
  padding: 10px;
  background-color: #29528f;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  position:absolute;
}

#fileName {
  display: inline-block;
  padding: 10px;
  margin-top: 50px;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  position:absolute;
}

a img {
  width: 24px;
  height: 24px;
  vertical-align: middle; /* Aligns the icon vertically with the text */
}

a i {
  font-size: 24px; /* Adjust the size of the icon */
  vertical-align: middle; /* Aligns the icon vertically with the text */
}

.clear-button {
  background-color: #ff6f6f;
  border: none;
  border-radius: 4px;
  padding: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  flex-direction: column;
  justify-content: center;
  position:relative;
}

.clear-button i {
  margin-right: 5px;
}

.clear-button:hover {
  background-color: #ff3d3d;
}

#holderForFileInputAndBin {
  display: inline-block;
  padding: 10px;
  margin-top: 50px;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  position:relative;
}

/*
#drop-zone {

  width: 200px;

  height: 100px;
  left: 50%;

  bottom: 20%;
  margin-left: -100px;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  font-family: Arial;
  text-align: center;
  position: relative;
  line-height: 150px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);
}

#drop-zone input {

  position: absolute;

  cursor: pointer;
  left: 0px;
  top: 0px;
  /*Important This is only comment out for demonstration purposes.
        opacity:0; 
}
*/
/*Important*/
#drop-zone.mouse-over {
  border: 2px dashed rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
}

/*If you dont want the button*/
#clickHere {
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: 20px;
  line-height: 26px;
  color: white;
  font-size: 12px;
  width: 100px;
  height: 26px;
  border-radius: 4px;
  background-color: #3b85c3;
  display: inline-block;
}

#clickHere:hover {
  background-color: #4499dd;
}

#clickHere input[type="file"] {
  position: absolute;
}

label.label input[type="file"] {
  position: absolute;

  opacity: 0;
}
.label {
  position: absolute;
  cursor: pointer;
  top: 50%;
  margin-left: -50px;
  margin-top: 20px;
  line-height: 26px;
  color: white;
  font-size: 12px;
  width: 100px;
  height: 26px;
  border-radius: 4px;
  background-color: #3b85c3;
}
.label:hover {
  background: #5cbd95;
}
.label:active {
  background: #9fa1a0;
}
.label:invalid + span {
  color: #000000;
}
.label:valid + span {
  color: #ffffff;
}

/* Initially hide the content */
#toggleContent {
  display: none;
}

/* Initially hide the content */
#toggleButton {
  background: none;
  border: none;
  text-decoration: underline;
  margin-left: 40%;
}
#toggleButton:hover {
  background-color: green;
}
